@charset "UTF-8";

/* レイアウト */
.wrapper {
	max-width: 1500px;
	margin: auto;
	padding: 0 1.5rem;
}

/* ヘッダー */
.page-header {
	padding-top: .5rem;
}

.header-title {
	font-size: 5rem;
	margin-left: 8rem;
}

.main-nav {
	display: flex;
	justify-content: right;
	gap: 2.5rem;
	font-size: 1.5rem;
	list-style: none;
	margin: 0 0 0.5rem 10rem;
}

/* 見出し */
.heading-large {
	font-size: 2.5rem;
	text-align: left;
	margin: 3rem 0 0 5rem;
}

/* HOME
------------------------------- */
/*.about {*/
/*	max-width: 736px;*/
/*	padding: 0 1.5rem;*/
/*	margin: 3rem auto 0;*/
/*}*/

/* デスクトップ版
------------------------------- */
@media (min-width: 800px) {

	/* ヘッダー */
	.page-header {
		display: flex;
		align-items: flex-end;
		padding-top: 1.5rem;
	}

	.main-nav {
		font-size: 2rem;
	}

	/* HOME */

	.about {
		margin: 4rem auto 0;
	}

	/* 見出し */
	.heading-large {
		font-size: 2.5rem;
	}

	/* プロフィール */
	.profile {
		display: flex;
		gap: 2rem;
	}

	.profile-sentence {
		width: 600px;
		flex-direction: column;
		font-size: 2rem;
		margin: 1rem 1rem 1rem 8rem;
		list-style-type: none;
		align-items: baseline;
	}

	.news-contents {
		display: flex;
		justify-content: space-between;
	}

	.post {
		width: 50%;
	}

	.side {
		width: 50%;
		margin: 7rem;
	}

	.heading-medium {
		font-size: 3rem;
		text-align: center;
		line-height: 1;
		margin-bottom: 1rem;
	}

	.technique {
		max-width: 700px;
		background-color: #faf7f0;
		border-radius: 48px;
		padding: 1.5rem 2.5rem 1.5rem 2.5rem;
		margin: 0 auto 2rem;
	}

	.technique p {
		margin: 1rem 0 1rem;
		font-size: 1.5rem;
	}

	.skill-post {
		width: 50%;
	}

	.skill-side {
		width: 50%;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		grid-template-rows: 200px 200px;
	}

	.back {
		background-color: #faf7f0;
	}












}